
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;  /* Adjust as needed */
    height: 25%;
    position: absolute;
    top: 10%; /* Adjust as needed to position the container */
    left: 25%;
},
.emp-avail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .scheduler-container {
    flex: 1;
    padding-right: 20px; /* Adjust the padding as needed */
  }
  
  .output-container {
    flex: 1;
  }
  
